# RUN PERFORMANCE PROJECT - Pau Sampietro

## Introductory application of unsupervised learning algorithms (Clustering moves)

_EXPLANATION_

In [1]:
import pandas as pd
import seaborn as sns
import plotly.plotly as py
import matplotlib.pyplot as plt
import cufflinks as cf 
from ipywidgets import interact
import plotly.graph_objs as go
from rpdb import read_table, read_table_sql, export_table

### Importing data from tables stored in the DB

To work on this part, we only import the important and not redundant information of the records table.

In [4]:
Ssql = """SELECT idmove, idrecord, enhanced_altitude, vertical_speed, records.heart_rate, records.pace, athlete
         FROM records
         INNER JOIN moves ON move = idmove"""

# Function created for this purpose, that imports data with specific select query 
records = read_table_sql('records', Ssql)

In [5]:
records.head()

,idmove,idrecord,enhanced_altitude,vertical_speed,heart_rate,pace,athlete
0,1,6,133.0,0.0,110.0,7.94,P
1,1,7,133.0,0.0,110.0,7.94,P
2,1,8,133.0,0.0,110.0,6.67,P
3,1,9,134.0,0.0,110.0,6.67,P
4,1,10,134.0,0.0,110.0,6.41,P

### 1. Data Preprocessing

One problem with the dataset is the value ranges are remarkably different across various categories (e.g. heart rate compared to pace and vertical_speed). Diverse value ranges in different features could cause issues in our clustering. The way to reduce the problem is through **feature scaling**. We'll use this technique again with this dataset.

In [9]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()
records_feat = records[['enhanced_altitude', 'vertical_speed', 'heart_rate', 'pace']]
records_sc = scaler.fit_transform(records_feat)

In [14]:
pd.DataFrame(records_sc).head()

          0         1        2         3
0 -0.132485  0.009598 -3.10866  0.347513
1 -0.132485  0.009598 -3.10866  0.347513
2 -0.132485  0.009598 -3.10866  0.070669
3 -0.130626  0.009598 -3.10866  0.070669
4 -0.130626  0.009598 -3.10866  0.013993

### 2. Data Clustering with K-Means